hr {
    border-color: darkslategrey;
}

img {
    float: left
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    color: white;
  }
